* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


.header {
	display: flex;	
	justify-content: space-between;
	position: fixed;
	top:10px;
	left: 0;
	right: 10px;
	z-index: 10;

}

.logo {
	background: black;
	color: white;
	font-family: 'Kalam' ;
	padding: 5px;
	font-size: 30px;
	letter-spacing: 2px;
}
.header-nav{
	display: flex;	
	align-items: center;

}
		
.header-link {
	color: black;
	padding: 5px 10px;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Montserrat' ;
	background-color: white;
	transition: all 0.35s;
}
.active {
	background-color: black;
	color: white;
}

.header-link:hover {
	background-color: black;
	color: white;

}
.section-img {
	background-image: url(../img/bg-connecting.jpg);
	background-attachment: fixed;
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.body-paper {
	background-image: url(../img/background-lines.png);
}
.event-body-paper {

	background-image: url(../img/background-home.png);	
}
.section-name {
	margin-bottom:50px;
	margin-top: 10px;
	height: 58px;
	display: flex;
	align-items: center; 
	font-family: 'Montserrat';
	padding-left: 210px;
	font-size: 30px;
	font-weight: 500;
	
}

.container {
	width: 900px;
	margin: auto;
}

.article-preview {
	width:  880px;
	height: 250px;
	display: flex;
	flex-direction: row;
	background: #f0f0f0;
	margin:10px;


}

.article1{

	text-align: right;
}

.people-name {
	display: block;

	margin-top: 40px;
	margin-left: 25px;
	font-family: 'Montserrat';
	font-size: 65px;
	color: black;
	font-weight: 600;

}
.people-status {

	margin-top: 20px;
	margin-left: 25px;
	font-family: 'Montserrat';
	font-size: 25px;
}
.main-section {

	background-image: url(../img/background-home.png);
	
	align-items: center;
	display: flex;
	flex-direction: column;
	

}
.feedback {
	margin-top: 10px;
	padding-top: 40px; 
	width: 880px;
	display: inline-block;
	background: #f0f0f0;
	margin-bottom: 20px;
}

.subscribe-form {
	padding: 50px;

	display: flex;
	flex-direction: row;


}
.input-box {

	margin:10px;
	width: 285px;
	
	border-left: 3px;
	border-top: 3px;
	border-right: 3px;
	background: #f0f0f0;
	border-color: black;

}
.text-read-article{
	color: #666;
	letter-spacing:3px;
	margin: 30px;
	font-size: 22px;
	text-align: center;
}

.button-subscribe{

	width: 200px;
	height: 50px;
	background-color: #333; 
	color: white;
	border-color: black;
}

.button-subscribe:hover{
	background-color:#f0f0f0;
	color: black;
}
	
.we-in-social-networks {
	padding: 10px;
	width: 880px;
	display: inline-flex;
	flex-direction: row;
	background-color: #ddd;
	border:solid 5px #bbb;
	flex:1 1;
	margin-bottom: 30px;
}


.social-icon {

	font-size: 30px;
	padding: 15px;
	margin-left: 8px;
	margin-right: 8px;
	color: black;
}
.we-in-networks-text {
	flex:1 1;
	color: #666;
	letter-spacing:3px;
	padding: 15px;
	text-align: center;
	font-size: 22px;

}
.social-icon-container{
	flex:1 1;
	display: flex;
	flex-direction: row;
}
.social-icon:hover {
	color: #eee;
}
.events-preview {
	
    width:  320px;
	height: 650px;
	display:inline-flex;
	flex-direction: column;	
	background-color: #f5f5f5;
	margin:25px;
}
.events-container {

	justify-content: center;
	align-items: center;
	display:flex;
	flex-direction: row;
	
}
.day {
	font-family: 'Montserrat';
	padding-left: 20px;
	font-size: 72px;
	color: #aaa;
}
.event-img {
	
	height: auto;
	width: 100%;
	transition: 0.3s;
}
.event-month-city {
	font-family: 'Montserrat';
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	color: #aaa;

}
.kind-of-event {
	margin-top:20px; 
	font-family: 'Montserrat';
	padding-left: 20px;
	padding-bottom: 25px;

}

.more {

	justify-content: center;
	padding: 20px;
	margin: 25px;
	background-color: #333; 
	color: white;
	border-color: black;
	font-family: 'Montserrat';
	letter-spacing: 2px;
	font-weight: 700;
	transition: 0.3s;

}
.more:hover {

	background-color:#f5f5f5;
	color: black;

}
.events-preview:hover .event-img {

	transform: scale(1.1);
	
}

.about-us-section {

	max-width: 900px;
	margin: 0 auto;
	width: 100%;
}

.what-is-inspiration {
font-family: 'Montserrat';
margin-bottom: 20px;

}
.text-about-us {

	font-family: 'Montserrat';
	margin-bottom: 10px;
}

.inspiration-is {
	background-color: #333;
	
	width: 100%;
	max-width: 880px;
	padding: 10px;
}
.leaders {

	margin-top: 60px;
	margin-left: 40px;
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
}

.leadership-journal {

	margin-top: 30px;
	margin-left: 40px;
	color: #ddd;
	font-family: 'Montserrat';
	font-size: 40px;
}

.year {

	margin-top: 30px;
	margin-left: 40px;
	font-family: 'Montserrat';
	color: #ccc;
	letter-spacing: 2px;
}
.line-img {
	margin: 40px;
	width: 750px;
	height: 200px;
}

.hres-title-container {

	height: auto;
	width: 100%;
	text-align: center;
	background-image: url(../img/live.png);
	background-repeat: no-repeat;
}
.hres-title {

	margin-top: 200px;
	margin-bottom: 100px;
	font-family: 'Montserrat';
	color: black;
	font-size: 140px;
	text-decoration: underline;
    
	
}
.introduction-container {

	margin-top: 50px;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-image: url(../img/lives.png);
	background-repeat: no-repeat;


}
.introduction {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

}
.about-hres {
	font-family: 'Montserrat';
	font-size: 24px;
	text-align: left;
	padding-bottom: 15px;

}
.margin-top-rigth {
	margin-top: 80px;
	padding-left: 50px;

}
.spase {
	background-color: rgba(255, 255, 255, 0.8);
}

