* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


.header {
	display: flex;	
	justify-content: space-between;
	position: fixed;
	top:10px;
	left: 0;
	right: 10px;
	z-index: 10;

}

.logo {
	background: black;
	color: white;
	font-family: 'Kalam' ;
	padding: 5px;
	font-size: 30px;
	letter-spacing: 2px;
}
.header-nav{
	display: flex;	
	align-items: center;

}
		
.header-link {
	color: black;
	padding: 5px 10px;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Montserrat' ;
	background-color: white;
	transition: all 0.35s;
}
.active {
	background-color: black;
	color: white;
}

.header-link:hover {
	background-color: black;
	color: white;

}
.section-img {
	background-image: url(../img/bg-connecting.jpg);
	background-attachment: fixed;
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.body-paper {
	background-image: url(../img/background-lines.png);
}
.event-body-paper {

	background-image: url(../img/background-home.png);	
}
.section-name {
	margin-bottom:50px;
	margin-top: 10px;
	height: 58px;
	display: flex;
	align-items: center; 
	font-family: 'Montserrat';
	padding-left: 210px;
	font-size: 30px;
	font-weight: 500;
	
}

.container {
	width: 900px;
	margin: auto;
}

.article-preview {
	box-shadow: 0;
	transition: 0.3s;
	width:  880px;
	height: auto;
	display: flex;
	flex-direction: row;
	background: #f0f0f0;
	margin:10px;


}

.article1{

	text-align: right;
}

.people-name {
	display: block;

	margin-top: 40px;
	margin-left: 25px;
	font-family: 'Montserrat';
	font-size: 65px;
	color: black;
	font-weight: 600;

}
.people-status {

	margin-top: 20px;
	margin-left: 25px;
	font-family: 'Montserrat';
	font-size: 25px;
	color: black;
}
.main-section {

	background-image: url(../img/background-home.png);

	
	align-items: center;
	display: flex;
	flex-direction: column;
	

}
.feedback {
	margin-top: 10px;
	padding-top: 40px; 
	width: 100%;

	max-width: 880px;
	display: inline-block;
	background: #f0f0f0;
	margin-bottom: 20px;
}

.subscribe-form {
	padding: 50px;

	display: flex;
	flex-direction: row;


}
.input-box {

	margin:10px;
	width: 285px;
	
	border-left: 3px;
	border-top: 3px;
	border-right: 3px;
	background: #f0f0f0;
	border-color: black;

}
.text-read-article{
	color: #666;
	letter-spacing:3px;
	margin: 30px;
	font-size: 22px;
	text-align: center;
}

.button-subscribe{

	width: 200px;
	height: 50px;
	background-color: #333; 
	color: white;
	border-color: black;
}

.button-subscribe:hover{
	background-color:#f0f0f0;
	color: black;
}
	
.we-in-social-networks {
	padding: 10px;
	max-width: 880px;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	background-color: #ddd;
	border:solid 5px #bbb;
	flex:1 1;
	margin-bottom: 30px;
}


.social-icon {

	font-size: 30px;
	padding: 15px;
	margin-left: 8px;
	margin-right: 8px;
	color: black;
}
.we-in-networks-text {
	flex:1 1;
	color: #666;
	letter-spacing:3px;
	padding: 15px;
	text-align: center;
	font-size: 22px;
	width: 100%;

}
.social-icon-container{
	flex:1 1;
	display: flex;
	width: 100%;
	flex-direction: row;
}
.social-icon:hover {
	color: #eee;
}
.events-preview {
	
    width:  320px;
	height: 650px;
	display:inline-flex;
	flex-direction: column;	
	background-color: #f5f5f5;
	margin:25px;
}
.events-container {

	justify-content: center;
	align-items: center;
	display:flex;
	flex-direction: row;
	
}
.day {
	font-family: 'Montserrat';
	padding-left: 20px;
	font-size: 72px;
	color: #aaa;
}
.event-img {
	
	height: auto;
	width: 100%;
	transition: 0.3s;
}
.event-month-city {
	font-family: 'Montserrat';
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	color: #aaa;

}
.kind-of-event {
	margin-top:20px; 
	font-family: 'Montserrat';
	padding-left: 20px;
	padding-bottom: 25px;

}

.more {

	justify-content: center;
	padding: 20px;
	margin: 25px;
	background-color: #333; 
	color: white;
	border-color: black;
	font-family: 'Montserrat';
	letter-spacing: 2px;
	font-weight: 700;
	transition: 0.3s;

}
.more:hover {

	background-color:#f5f5f5;
	color: black;

}
.events-preview:hover .event-img {

	transform: scale(1.1);
	
}

.about-us-section {

	max-width: 900px;
	margin: 0 auto;
	width: 100%;
}

.what-is-inspiration {
font-family: 'Montserrat';
margin-bottom: 20px;

}
.text-about-us {

	font-family: 'Montserrat';
	margin-bottom: 10px;
}

.inspiration-is {
	background-color: #333;
	
	width: 100%;
	max-width: 880px;
	padding: 10px;
}
.leaders {

	margin-top: 60px;
	margin-left: 40px;
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
}

.leadership-journal {

	margin-top: 30px;
	margin-left: 40px;
	color: #ddd;
	font-family: 'Montserrat';
	font-size: 40px;
}

.year {

	margin-top: 30px;
	margin-left: 40px;
	font-family: 'Montserrat';
	color: #ccc;
	letter-spacing: 2px;
}
.line-img {
	margin: 40px;
	width: 750px;
	height: 200px;
}

.hres-title-container {

	height: auto;
	width: 100%;
	text-align: center;
	background-image: url(../img/live.png);
	background-repeat: no-repeat;
}
.hres-title {

	margin-top: 200px;
	margin-bottom: 100px;
	font-family: 'Montserrat';
	color: black;
	font-size: 140px;
	text-decoration: underline;
    
	
}
.introduction-container {

	margin-top: 50px;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-image: url(../img/lives.png);
	background-repeat: no-repeat;


}
.introduction {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

}
.about-hres {
	font-family: 'Montserrat';
	font-size: 24px;
	text-align: left;
	padding-bottom: 15px;

}
.margin-top-rigth {
	margin-top: 80px;
	padding-left: 50px;

}
.spase {
	background-color: rgba(255, 255, 255, 0.8);
}


.jobs-header {
	background-image: url(../img/stayHungry.jpg);
	background-attachment: fixed;
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction:  column;
    text-align: center;
	justify-content: center;

	
}
.background-dark {

background-color: black;

}
.jobs-name-title {
color: white;
font-size:120px; 
margin-right: 600px;
font-family: 'Montserrat';
}



.obama-about-jobs{

    padding-top: 300px;
	padding-bottom: 300px;
	color: white;
	font-size: 40px;
	text-align: center;
	margin: auto;
	max-width: 1020px;
	font-family: 'Montserrat';
}

.all-title {
	padding-bottom: 20px;

	font-family: 'Montserrat';
	color: white;
	text-align: center;
	margin: auto;
	max-width: 900px;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.8);

}

.about-steve {
	padding-bottom: 10px;
	font-family: 'Montserrat';
	color: white;
	text-align: center;
	margin: auto;
	max-width: 900px;
	font-size: 25px;
	background-color: rgba(0, 0, 0, 0.8);
}
.main-section-about-steve {


	background-image: url(../img/apple-logo-steve.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.think-different {
	background-image: url(../img/think.jpg);
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.second-section-about-jobs {

	background-image: url(../img/stayfoolish.jpg);
	background-repeat: no-repeat;
}

.table-styles {
	border-collapse: collapse;
	

	margin: 20px;
	text-align: center;
    color: white;
    font-family: 'Montserrat';
}
.table-position{

	padding-top: 150px;
	text-align: center;
	margin: auto;
	max-width: 900px;

}

td {
	border:solid 1px white;
	padding: 10px;
}
th{
	border:solid 1px white;
	padding: 12px;
}

table {
		
	width: 100%;
}

.top-button {
  display: none; 
  position: fixed;
  bottom: 20px; 
  right: 30px;
  border: none;
  outline: none; 
  background-color:#f0f0f0; 
  color: black; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 35px;
  font-size: 20px; 
}
.sandberg-body {

background-color:rgb(218, 187, 143);
}

.about-sheryl {
	padding-bottom: 10px;
	font-family: 'Montserrat';
	color: black;
	margin: auto;
	max-width: 900px;
	font-size: 30px;

}
.sheryl-header {

	background-image: url(../img/sheryl-header.png);
	height: 100vh;
	background-repeat: no-repeat;
    background-size: contain;
   background-position: 25%;

    display: flex;
    flex-direction:  column;
    text-align: center;
	justify-content: center;
}

.sheryl-name-title {

    font-size:100px; 
	margin-left: 500px;
	font-family: 'Montserrat';
	transition: 0.25s;
}
.sheryl-title {

	padding-bottom: 20px;

	font-family: 'Montserrat';
	color: black;
	margin: auto;
	max-width: 900px;
	font-size: 40px;
	
}
.first-sheryl-section {
	padding: 30px;
	background-color:  rgb(140, 163, 150);
	text-align: center;

	
}

.sheryl-div-colour {

    display: inline-block;
    margin: 150px;
	padding: 30px;
	width: 100%;
	max-width: 1000px;
    background-color: #F5FAFF;
    text-align: left;
}

.third-sheryl-section {
    background-color: rgb(140, 163, 150);


	width: 100%
	margin: auto;


}
.third-div-sheryl {

	display: flex;
	flex-direction: row;
	max-width: 1000px;
	margin:auto;


}
.about-book {

	background-color: #F5FAFF;
	margin:20px;
	padding: 20px;

}

.book-img {
	margin-top: 150px;
}

.corona-block {

    padding: 0px 60px;
    max-width: 880px;
    width: 100%;
    background-color: #f0f0f0;
    border: solid 5px rgb(200, 20, 20);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 35px;
	margin-bottom: 30px;
}

.read-more-button {


}
.article-preview:hover {

	box-shadow: 4px 3px 11px -2px rgba(0,0,0,0.75);
}
.covid-description {

	display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    justify-content: space-between;
}

.read-more{

	width: 200px;
	height: 50px;
	background-color: rgb(200, 20, 20 , 0.1);
	color: rgb(200, 20, 20);
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

.covid-attention {
    font-size: 55px;
    text-align: center;
    color: rgb(200, 20, 20);
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 30px 0;
}
.covid-danger {
	font-size: 30px;
	font-family: 'Montserrat';

}

.read-more:hover {

    background-color: rgb(200, 20, 20);
	color: white;
}

.corona-section {
	padding-top: 50px;
 	max-width: 800px;
 	width: 100%;
 	margin: auto;
}


.corona-background {

	background-color: #F4FBFF;
}

.corona-title {
	padding-top: 50px;
	font-size: 60px;
	font-family: 'Montserrat';
	color: black;
	text-align: center;
}
.statistic {

	display: flex;
	flex-direction: row;
	max-width: 1200px;
	margin: auto;
	width: 100%;
	justify-content: space-between;

}
	
.statistic-container {
        margin-top: 50px;
		border:solid 2px black;
		padding: 30px;
		border-radius: 20px;
}
.covid-number-red {

	text-align: center;
	font-size: 32px;
	color: rgb(200,20,20);
	font-family: 'Montserrat';
	font-weight: 800;

}
.covid-number-green {

	text-align: center;
	font-size: 32px;
	color: green;
	font-family: 'Montserrat';
	font-weight: 800;

}
.covid-number-black {

	text-align: center;
	font-size: 32px;
	color: black;
	font-family: 'Montserrat';
	font-weight: 800;
}