* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


.header {
	display: flex;	
	justify-content: space-between;
	position: fixed;
	top:10px;
	left: 0;
	right: 10px;
	z-index: 10;

}

.logo {
	background: black;
	color: white;
	font-family: 'Kalam' ;
	padding: 5px;
	font-size: 30px;
	letter-spacing: 2px;
}
.header-nav{
	display: flex;	
	align-items: center;

}
		
.header-link {
	color: black;
	padding: 5px 10px;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Montserrat' ;
	background-color: white;
	transition: all 0.35s;
}
.active {
	background-color: black;
	color: white;
}

.header-link:hover {
	background-color: black;
	color: white;

}
.section-img {
	background-image: url(./img/bg-connecting.jpg);
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.body-paper {
	background-image: url(./img/paper-texture.jpg);


}
.section-name {
	margin-bottom:50px;
	margin-top: 10px;
	height: 58px;
	display: flex;
	align-items: center; 
	font-family: 'Montserrat';
	padding-left: 210px;
	font-size: 30px;
	font-weight: 500;
	
}

.container {
	width: 900px;
	margin: auto;
}

.article-preview {
	background-color: silver;
	height: 250px;
	margin-bottom: 25px;
}